.navbar {
    display:flex;
    align-items: center;
    margin: 1%;
    
}

#nameinside {
    
    white-space: nowrap;
    padding-right: 4%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right:2%;
    font-size: 1.25vmax;
    
    
}

.input {
    
}

.submit {
    margin: 0 1%;
    
}

#login {
    margin: 0 1%;
    padding: 0 2%;
}

#signup {
    margin: 0 1%;
    padding: 0 2%;
}
