.navbar {
    display:flex;
    align-items: center;
    margin: 1%;
    
}

#Name{
    white-space: nowrap;
    padding-right: 3%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right:2%;
}

.input {
    
}

.submit {
    margin: 0 1%;
}

#login {
    margin: 0 1%;
}

#signup {
    margin: 0 1%;
}
